/* body{

    background: white;
}

* { color:blue} */

/* body {

    background-color: aqua;
} */
body{

    height: 4000px;
    margin: 0px;
}

/* .container {

    width: 400px;
    height: 400px;
    background-color:darkgray;
    position: relative;
}
.container div {

    width: 100px;
    height:100px;
    
}
.container div:nth-child(1) {
   
    background-color: aqua;
    position: relative;
}
.container div:nth-child(2){

    background-color: bisque;
    position: absolute;
    top:50px;
    left:50px;
}
.container div:nth-child(3) {

    background-color: brown;
    position: absolute;
    top:100px;
    left: 75px;
}
.container div:nth-child(4){

    background-color: blue;
    left:120px;
    top:175px;
    position:absolute;
}

a.up {
 bottom: 50px;
 right: 50px;
 position: fixed;
 color: black;
}

.page h3 {
 font: bold 40px Arial;
 background-color: blue;
 color:aqua;
 padding: 20px;
margin:0px;
position: sticky;
top:0px;
}

.page .text{

    height: 700px;
} */



/* label {
display: inline-block;
width: 150px;
height: 50px;
background-color: #dddd;
border-radius: 50px;
position: relative;
cursor: pointer;
}
label .check-btn {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute;
    
}
label input {

    display: none;
}
 label input:checked  + .check-btn  {

    left:100px;
    background-color:blue;
    } */

    /* a {
        background-color: rgb(0, 255, 72);
        transition-property: background-color;
        transition-duration: 1s;
        transition-delay: 1s;
        color: white;
        transition-timing-function:ease-in-out;
    }
 a:hover {

    background-color: brown;
 }

 div {

    height: 50px;
    width: 0;
    background-color: red;
    transition-property: width;
    transition-duration: 1s;
    margin-bottom: 10px;
    
 }

 div:nth-child(1) {

    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

 div:nth-child(2){

    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
 }

 div:nth-child(3){

    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
 }
 body:hover div {

    width: 100%;
 } */
 /* .avatar{

    width: 200px;
    height: 200px;
    border-radius: 10px;
    background: cadetblue;
    transition: 1s;
 }
 .avatar:hover {

    border-radius: 50%;
 } */

 /* .text {

    columns: 4;
    column-rule-style:groove;
    column-rule-color: blue;
    column-gap: 80px;
} */

/* div {
font-family: 'Zen Dots', cursive;
} */






