@font-face {
    font-family: 'deneme';
    src: url('font/deneme.eot?6826911');
    src: url('font/deneme.eot?6826911#iefix') format('embedded-opentype'),
         url('font/deneme.woff2?6826911') format('woff2'),
         url('font/deneme.woff?6826911') format('woff'),
         url('font/deneme.ttf?6826911') format('truetype'),
         url('font/deneme.svg?6826911#deneme') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'deneme';
      src: url('../font/deneme.svg?6826911#deneme') format('svg');
    }
  }
  */
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "deneme";
    font-style: normal;
    font-weight: normal;
    speak-as: never;
  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .icon-emo-happy:before { content: '\e800'; } /* '' */
  .icon-emo-wink:before { content: '\e801'; } /* '' */
  .icon-emo-unhappy:before { content: '\e802'; } /* '' */
  .icon-emo-devil:before { content: '\e805'; } /* '' */
  .icon-download-cloud:before { content: '\f0ed'; } /* '' */

.icon-emo-happy:hover {

    color:blue;
    }
.icon-emo-wink:hover {

    color:red;
    }
 .icon-emo-unhappy:hover {

     color:chartreuse;
    }
.icon-emo-devil:hover {
    
    color:coral;
     }
.icon-download-cloud:hover {
    
        color:cadetblue;
    }

    .icon-emo-happy, .icon-download-cloud,.icon-emo-devil,.icon-emo-unhappy,.icon-emo-wink {

        font-size: 50px;
    }

/* ///////////////////////////// */

img {

filter: blur(10px);
/* filter: brightness(1.2);
filter: contrast(1.2);
filter: grayscale(1);
filter: hue-rotate(30deg);
filter: invert(0.1);
filter:opacity(.5);
filter: saturate(0.8);
filter: sepia(.4); */
/* filter: drop-shadow(0 0 50px red); */
}

/* img:hover {

  filter:blur(0px);
  filter:drop-shadow(0 0 50px red);
  transition: 1s;
} */

/* .box {

  width: 200px;
  height: 200px;
  background: red;
  transition: 1s ;
}

#checkbox:checked + .box {

  transform: rotateX(180deg);

}
.box1 {

  width: 200px;
  height: 200px;
  background:blue;
  transition: 1s ;
}

#checkbox:checked + .box1 {

  transform: rotateY(180deg);
  
}
.box2 {

  width: 200px;
  height: 200px;
  background:blue;
  transition: 1s ;
}

#checkbox:checked + .box2 {

  transform: rotateZ(180deg);
}

.box3 {

  width: 200px;
  height:200px;
  position:relative;
  margin-top: 15px;
  perspective: 900px;
}

.box3 .front, .box3 .back {
 width: inherit;
 height: inherit;
 position: absolute;
 backface-visibility: hidden;
 transition: 1s transform; 
 
}

.box3 .front {

  background: tomato;
}

.box3 .back {

  background: gray;
  transform: rotateX(-180deg);
}

.box3:hover  .front {

  transform: rotateX(-180deg);

}
.box3:hover  .back {

  transform: rotateX(0);
} */

select {
  border-color: greenyellow;
  height: 45px;
  appearance: none;
}

select:hover {

  border-radius: 20px;

}

input[type="checkbox"] {

  background-color: aqua;
  border-radius: 15px;

}

input[type="checkbox"]:hover {

  border-color: blueviolet;
}

input[type="checkbox"]:checked {

  background-color: red;
}

.box {

  user-select: none;
}

.box1 {

  user-select: all;
}

.box2 {

  user-select: text;
}




    

 

 
  
  
  